.Header {
    display: flex;
    justify-content: space-between;

    background-color: var(--blue-100);
    border-bottom: 2px solid var(--blue-200);

    .logo {
        padding: 20px;

        text-transform: uppercase;
        letter-spacing: 2.5px;
    }

    nav {
        display: flex;

        a {
            padding: 20px;

            text-decoration: none;
            color: var(--switched-color);

            &:hover {
                color: rgb(37, 0, 169);
            }
        }
    }
}
