.About {
    h4 {
        margin: 0;
    }
    article {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid var(--blue-200);
        border-radius: 10px;
        background-color: var(--blue-50);
        box-shadow: 0 5px 5px var(--blue-200);
    }
}
